<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chooseCharacter.css">
    <title>Selecciona tu personaje</title>
</head>
<body>
    <h1>Selecciona tu personaje</h1>

    <div class="slideshow-containerP1">
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img src="../images/rifle/idle/survivor-idle_rifle_0.png" class="slide-image">
          <div class="text" >p1</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img src="../images/shotgun/idle/survivor-idle_shotgun_0.png" class="slide-image">
          <div class="text">p1</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">3 / 4</div>
          <img src="../images/handgun/idle/survivor-idle_handgun_0.png" class="slide-image">
          <div class="text">p1</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">4 / 4</div>
          <img src="../images/flashlight/idle/survivor-idle_flashlight_0.png" class="slide-image">
          <div class="text">p1</div>
        </div>    
        <a class="prev" onclick="plusSlidesP1(-1)">&#10094;</a>
        <a class="next" onclick="plusSlidesP1(1)">&#10095;</a>
        <div class="dot" onclick="currentSlideP1(1)"></div>
         <div class="dot" onclick="currentSlideP1(2)"></div>
         <div class="dot" onclick="currentSlideP1(3)"></div>
        <div class="dot" onclick="currentSlideP1(4)"></div>
      </div>

      <div class="slideshow-containerP2">
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img src="../images/shotgun/idle/survivor-idle_shotgun_0.png">
          <div class="text" >p2</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img src="../images/rifle/idle/survivor-idle_rifle_0.png" class="slide-image">
          <div class="text">p2</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">3 / 4</div>
          <img src="../images/handgun/idle/survivor-idle_handgun_0.png">
          <div class="text" >p2</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">4 / 4</div>
          <img src="../images/flashlight/idle/survivor-idle_flashlight_0.png" class="slide-image">
          <div class="text">p2</div>
        </div>  
        <a class="prev" onclick="plusSlidesP2(-1)">&#10094;</a>
        <a class="next" onclick="plusSlidesP2(1)">&#10095;</a>
        <div class="dot" onclick="currentSlideP2(1)"></div>
        <div class="dot" onclick="currentSlideP2(2)"></div>
        <div class="dot" onclick="currentSlideP2(3)"></div>
        <div class="dot" onclick="currentSlideP2(4)"></div>
      </div>
      <div class="button-container">
        <button id="readyButton">Listo</button>
      </div>
      

      <script src="../js/chooseCharacter.js"></script>
</body>
</html>