body {
    background-image: url("../assets/images/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hitbox {
    position: relative;
    width: 100vh;
    height: 100vh;
}

#p1 {
    position: absolute;
}

#p2{
    position: absolute;
}